/* ================= UNUSED =================  */

/* POMODORO WIDGET (unused) */
/* .pomodoro-widget { */
/*   margin: 0px 4px; */
/*   background: transparent; */
/*   padding: 0px; */
/* } */
/* .pomodoro-widget:hover { */
/*   background: var(--bg_hover); */
/*   /* color: var(--text); */
/* } */
/* .pomodoro-widget:pressed { */
/*   background-color: transparent; */
/*   appearance: none; */
/* } */
/* .pomodoro-widget .icon { */
/*   font-size: 13px; */
/*   padding-right: -3px; */
/*   padding-top: -1px; */
/* } */
/* .pomodoro-widget .label.paused { */
/*   color: var(--red); */
/* } */
/* /* .pomodoro-widget .icon.work, */
/* /* .pomodoro-widget .icon.break, */
/* .pomodoro-widget .icon.paused { */
/*   margin-top: 2px; */
/* } */
/* .pomodoro-widget .label.work { */
/*   color: var(--yellowgreen); */
/* } */
/* .pomodoro-widget .label.break, */
/* .pomodoro-widget .icon.break { */
/*   color: var(--yellow); */
/* } */
/* /* Pomodoro menu styling */
/* .pomodoro-menu { */
/*   background-color: var(--blur); */
/* } */
/* .pomodoro-menu .header { */
/*   font-size: 16px; */
/*   font-weight: 600; */
/*   max-height: 0px; */
/*   color: var(--text); */
/* } */
/* .pomodoro-menu .status { */
/*   font-size: 18px; */
/*   font-weight: 600; */
/*   color: var(--blue); */
/* } */
/* .pomodoro-menu .session { */
/*   font-size: 12px; */
/*   color: var(--blue); */
/* } */
/* .pomodoro-menu .button { */
/*   background-color: var(--bg_active); */
/*   color: var(--blue); */
/*   border: none; */
/*   padding: 6px 12px; */
/* } */
/* .pomodoro-menu .button.start, */
/* .pomodoro-menu .button.start:hover { */
/*   background-color: var(--yellowgreen); */
/*   color: var(--black); */
/* } */
/* .pomodoro-menu .button.reset { */
/*   background-color: var(--bg_active); */
/* } */
/* .pomodoro-menu .button:hover { */
/*   background-color: var(--bg_hover); */
/*   color: var(--blue); */
/* } */
/* .pomodoro-menu .button.pause { */
/*   background-color: var(--red); */
/*   color: var(--black); */
/* } */
/* .pomodoro-menu .button.start:pressed, */
/* .pomodoro-menu .button:pressed { */
/*   background-color: var(--bg_hover); */
/*   color: var(--black); */
/* } */

/* /* NOTIFICATION WIDGET (unused)  */
/* .notification-widget { */
/*   /* padding: 0px; */
/*   /* margin: 0px; */
/*   /* color: var(--subtle); */
/* } */
/* .notification-widget .widget-container { */
/*   margin: 0px; */
/* } */
/* .notification-widget .widget-container:hover { */
/*   background-color: var(--bg_hover); */
/*   /* color: var(--blue); */
/* } */
/* .notification-widget .icon { */
/*   padding: 0px; */
/*   margin: 0px; */
/*   font-size: 12px; */
/*   color: var(--subtle); */
/*   /* color: var(--blue); */
/* } */
/* .notification-widget .icon.new-notification { */
/*   margin: 0px; */
/*   color: var(--blue); */
/* } */
/* .notification-widget .label.new-notification { */
/*   margin: 0px; */
/*   /* color: var(--blue); */
/* } */
/*

/* ***************** CENTER *****************  */
/* SYSTRAY WIDGET */
/* .systray .widget-container { */
/*   margin: 0px 4px; */
/*   padding: auto 3px; */
/* } */
/* .systray .button { */
/*   padding: auto 0px; */
/* } */
/* .systray .unpinned-container, */
/* .systray .pinned-container { */
/* } */
/* .systray .pinned-container[forceshow="true"] { */
/* } */
/* .systray .button[dragging="true"] { */
/* } */
/* .systray .unpinned-visibility-btn:hover, */
/* .systray .pinned-visibility-btn:hover, */
/* .systray .button:hover { */
/*   background: var(--bg_hover); */
/*   color: var(--text); */
/* } */
/* .systray .unpinned-visibility-btn { */
/*   padding: 5px 3px; */
/*   background-color: transparent; */
/*   color: var(--subtle); */
/* } */
/* .systray .unpinned-visibility-btn:checked { */
/* } */

/* TASKBAR WIDGET */
/* .taskbar-widget { */
/*   margin: 0px 4px; */
/*   margin-left: 20px; */
/* } */

/* --- WIFI MENU ---  */
.wifi-menu {
  max-height: 350px;
  min-height: 375px;
  min-width: 375px;
}
.wifi-menu .progress-bar {
  max-height: 2px;
}
.wifi-menu .progress-bar::chunk {
  background-color: #4cc2ff;
}
.wifi-menu .header {
  background-color: var(--bg);
  font-size: 14px;
  font-weight: 600;
  /* margin-bottom: 2px; */
  padding: 12px;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.wifi-menu .error-message {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 2px;
  padding: 12px;
  background-color: red;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.wifi-menu .wifi-list {
  margin-right: 3px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.wifi-menu .wifi-item {
  min-height: 35px;
  padding: 2px 12px;
  margin: 2px 4px;
}
.wifi-menu .wifi-item:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
}
.wifi-menu .wifi-item[active="true"] {
  background-color: rgba(255, 255, 255, 0.15);
  font-size: 14px;
  border-radius: 6px;
  min-height: 80px;
}
.wifi-menu .wifi-item .icon {
  font-family: "Segoe Fluent Icons";
  font-size: 26px;
  margin-right: 10px;
}
.wifi-menu .wifi-item .name {
  font-size: 14px;
  margin-right: 10px;
}
.wifi-menu .wifi-item .password {
  font-size: 14px;
}
.wifi-menu .wifi-item .status {
  font-size: 14px;
}
.wifi-menu .wifi-item .strength {
  font-size: 14px;
}
.wifi-menu .wifi-item .controls-container {
  padding-top: 8px;
}
.wifi-menu .wifi-item .connect {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 4px 30px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
}
.wifi-menu .wifi-item .connect:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.wifi-menu .wifi-item .connect:pressed {
  background-color: rgba(255, 255, 255, 0.3);
}
.wifi-menu .footer {
  font-size: 12px;
  font-weight: 600;
  padding: 12px;
  /* margin-top: 2px; */
  background-color: var(--bg);
}
.wifi-menu .footer .settings-button {
  border: none;
  padding: 0 2px;
  min-width: 26px;
  min-height: 26px;
  color: #fff;
}
.wifi-menu .footer .refresh-icon {
  font-family: "Segoe Fluent Icons";
  border: none;
  min-width: 26px;
  min-height: 26px;
  color: #fff;
}
.wifi-menu .footer .refresh-icon:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}
