# This is default and very simple configuration file for Yasb.
# For more information about configuration options, please visit the Wiki
# https://github.com/amnweb/yasb/wiki
watch_stylesheet: true
watch_config: true
debug: false
bars:
  primary-bar:
    enabled: true
    screens: ["*"]
    class_name: "yasb-bar"
    alignment:
      position: "top"
      center: true
    animation:
      enabled: false
      duration: 1000
    blur_effect:
      enabled: false
      acrylic: false
      dark_mode: true
      round_corners: false
      round_corners_type: "normal"
      border_color: "System"
    window_flags:
      always_on_top: false
      windows_app_bar: true
    dimensions:
      width: "100%"
      height: 25
    padding:
      top: 0
      left: 0
      bottom: 0
      right: 0
    widgets:
      # removed: "microphone", "power_menu", "home", "active_window", "apps"
      left: ["glazewm_workspaces"]
      center: ["media"]
      right:
        [
          "memory",
          "glazewm_tiling_direction",
          "wifi",
          "volume",
          "battery",
          "clock",
        ]

widgets:
  ############## LEFT ############
  glazewm_workspaces:
    update_interval: 100
    type: "glazewm.workspaces.GlazewmWorkspacesWidget"
    options:
      offline_label: "GlazeWM Offline"
      hide_empty_workspaces: true
      hide_if_offline: false
      populated_label: "{display_name}"
      empty_label: "{display_name}"

  ########### CENTER #############
  media:
    type: "yasb.media.MediaWidget"
    options:
      label: "{title} - {artist}"
      max_field_size:
        label: 64
        label_alt: 24
      show_thumbnail: false
      controls_only: false
      controls_left: true
      hide_empty: true
      thumbnail_alpha: 150
      thumbnail_padding: 8
      thumbnail_corner_radius: 0
      icons:
        prev_track: "󰒮"
        next_track: "󰒭"
        play: "󰐊"
        pause: "󰏤"

  ########## RIGHT ###########
  memory:
    type: "yasb.memory.MemoryWidget"
    options:
      # icon: ""
      label: "{virtual_mem_used}"
      label_alt: "{virtual_mem_free}"
      update_interval: 5000
      callbacks:
        on_right: "do_nothing"
        on_left: "exec cmd /c procexp"
      memory_thresholds:
        low: 25
        medium: 50
        high: 90

  glazewm_tiling_direction:
    type: "glazewm.tiling_direction.GlazewmTilingDirectionWidget"
    options:
      horizontal_label: ""
      vertical_label: ""

  wifi:
    type: "yasb.wifi.WifiWidget"
    options:
      label: "{wifi_icon}"
      label_alt: "{wifi_icon} {wifi_name}"
      update_interval: 5000
      wifi_icons:
        - "󰤯" # 0% strength (no wifi)
        - "󰤟" # 1-25% strength
        - "󰤢" # 26-50% strength
        - "󰤥" # 51-75% strength
        - "󰤨" # 76-100% strength. Alternate theming: \uf1eb
      callbacks:
        on_right: "exec cmd.exe /c start ms-settings:network"

  volume:
    type: "yasb.volume.VolumeWidget"
    options:
      label: "<span>{icon}</span> {level}"
      label_alt: "{volume}"
      tooltip: false
      volume_icons:
        - "󰝟"
        - "󰕿"
        - "󰖀"
        - "󰕾"
        - "󰕾"
      callbacks:
        on_left: "toggle_volume_menu"
        on_right: "do_nothing"
        # on_right: "exec cmd.exe /c start ms-settings:sound"

  battery:
    type: "yasb.battery.BatteryWidget"
    options:
      label: "<span>{icon}</span>{percent}%"
      label_alt: "{time_remaining}"
      charging_options:
        icon_format: "󱐋"

  clock:
    type: "yasb.clock.ClockWidget"
    options:
      label: "{%a %b %d, %I:%M %p}"
      timezones: []
      callbacks:
        on_left: "toggle_calendar"
        on_right: "do_nothing"
      calendar:
        blur: True
        round_corners: True
        round_corners_type: "normal"
        border_color: "System"
        alignment: "right"
        direction: "down"
        distance: 6
