/*
This is default and very simple styles file for Yasb.
For more information about configuration options, please visit the Wiki https://github.com/amnweb/yasb/wiki
*/
:root {
  --mauve: #cba6f7;
  --red: #f38ba8;
  --yellow: #f9e2af;
  --blue: #f8f8ff;
  --lavender: #b4befe;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --surface2: #585b70;
  --surface0: #282936;
  --base: #1e1e2e;
  --text: white;
  --subtle: rgba(255, 255, 255, 90);
  --main: #10151d;
  --memory: #ff8080;
}

/* Global styles for ToolTip */
QToolTip {
  padding: 6px;
  color: #cdd6f4;
  font-size: 12px;
  background-color: #1e1e2e;
  border: 0px solid #313244;
  border-radius: 6px;
}
* {
  font-size: 12px;
  color: white;
  font-weight: 600;
  font-family: "JetBrainsMono NFP";
  margin: 0;
  padding: 0 4px 0 2px;
}
.yasb-bar {
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0px;
}
.widget {
  margin: 0;
}
.icon {
  font-size: 16px;
}
.widget .label {
  padding: 0px 2px;
}
.apps-widget .widget-container,
.glazewm-workspaces .widget-container,
.widget-container {
}

.glazewm-workspaces .widget-container {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  margin-left: 0px;
}
.glazewm-workspaces {
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  padding: 0 0 0 0;
}
.glazewm-workspaces .offline-status {
  color: var(--surface2);
  font-size: 12px;
  padding: 0 0 0 0;
  font-weight: 6;
}
.glazewm-workspaces .ws-btn {
  border: none;
  margin: 0;
  font-size: 12px;
  color: white;
  padding: 3px 7px; /* background color fills the padding */
  border-radius: 2px;
}

.glazewm-workspaces .ws-btn:hover {
  background-color: rgba(255, 255, 255, 20);
}

/* inherits */
.glazewm-workspaces .ws-btn.populated {
}
.glazewm-workspaces .ws-btn.active {
  background-color: rgba(255, 255, 255, 35);
}

.memory-widget .label {
  color: var(--subtle);
}

.wifi-widget .widget-container .label {
  color: var(--blue);
  font-size: 11px;
  /* padding: 0px 0px; */
}
.wifi-widget .widget-container .label.alt {
}
.wifi-widget .widget-container .icon {
}

.volume-widget .icon {
  color: var(--blue);
  font-size: 13px;
  padding-top: 2px;
  padding-right: 1px;
}

.wifi-widget,
.weather-widget,
.volume-widget {
  padding: 0 8px;
}
.weather-widget .icon {
  font-size: 18px;
  margin: 0 2px 1px 0;
  color: var(--yellow);
}
.media-widget {
  font-size: 11px;
}

.media-widget .label {
  color: var(--subtle);
  margin-left: 5px;
  font-size: 11px;
}

.media-widget .btn.prev,
.media-widget .btn.next {
  font-size: 1px;
  padding: -1px;
}

.media-widget .btn {
  color: var(--subtle);
  padding: 1 2px;
  margin: 2px 0px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 200;
}

.media-widget .btn:hover {
  color: var(--text);
  background-color: rgba(255, 255, 255, 20);
}

.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
}

.taskbar-widget {
  padding: 0;
  margin: 0;
  border: none;
}
.taskbar-widget .app-icon {
  padding: 0 6px;
  border: none;
  margin: 0;
}

.battery-widget .widget-container .icon {
  padding-right: 1px;
  color: var(--blue);
}

.clock-widget {
  padding: 0 -3px 0 4px;
}

/* UNUSED WIDGETS */

/* .apps-widget { */
/*   padding: 0 4px 0 2px; */
/* } */
/* .apps-widget .label { */
/*   font-size: 14px; */
/*   /* padding: 0 0px; */
/*   color: var(--subtext0); */
/* } */
/* .apps-widget .label:hover { */
/*   color: var(--text); */
/* } */

/* .power-menu-widget .label { */
/*   color: #f38ba8; */
/*   font-size: 13px; */
/*   /* margin-right: -2px; */
/*   /* background-color: #fff000; */
/* } */
/* .power-menu-popup { */
/*   background-color: transparent; */
/* } */
/* .power-menu-popup .button { */
/*   padding: 0; */
/*   width: 180px; */
/*   height: 230px; */
/*   border-radius: 8px; */
/*   background-color: rgba(255, 255, 255, 10); */
/*   color: var(--text); */
/*   border-left: 4px solid rgba(58, 59, 83, 0); */
/*   border-right: 4px solid rgba(58, 59, 83, 0); */
/*   border-top: 4px solid rgba(58, 59, 83, 0); */
/*   border-bottom: 4px solid rgba(58, 59, 83, 0); */
/*   margin: 0px; */
/* } */
/* .power-menu-popup .button.hover { */
/*   background-color: var(--base); */
/*   border-left: 4px solid var(--base); */
/*   border-right: 4px solid var(--base); */
/*   border-top: 4px solid var(--base); */
/*   border-bottom: 4px solid var(--base); */
/* } */
/**/
/* .power-menu-popup .button .label { */
/*   margin-bottom: 8px; */
/*   font-size: 16px; */
/*   font-weight: 500; */
/*   color: var(--overlay2); */
/* } */
/* .power-menu-popup .button .icon { */
/*   font-size: 64px; */
/*   padding-top: 32px; */
/*   color: var(--surface2); */
/* } */
/**/
/* .power-menu-popup .button.cancel .icon { */
/*   padding: 0; */
/*   margin: 0; */
/* } */
/* .power-menu-popup .button.cancel .label { */
/*   color: var(--red); */
/*   margin: 0; */
/* } */
/* .power-menu-popup .button.cancel { */
/*   height: 32px; */
/*   border-radius: 4px; */
/* } */
/* .uptime { */
/*   font-size: 14px; */
/*   margin-bottom: 10px; */
/*   color: var(--surface2); */
/*   font-weight: 600; */
/* } */

/* .microphone-widget { */
/*   padding: 0 6px 0 6px; */
/* } */
/* .microphone-widget .icon { */
/*   font-size: 18px; */
/* } */
/* .microphone-widget .icon { */
/*   font-size: 12px; */
/*   color: var(--mauve); */
/* } */

/* .home-widget { */
/*   padding: 0 4px 0 12px; */
/* } */
/* .home-widget .icon { */
/*   color: var(--lavender); */
/* } */
/* .home-widget .icon:hover { */
/*   color: var(--text); */
/* } */
/* .home-menu { */
/*   background-color: var(--crust); */
/* } */
/* .home-menu .menu-item { */
/*   padding: 8px 48px 9px 16px; */
/*   font-size: 12px; */
/*   color: var(--text); */
/*   font-weight: 600; */
/* } */
/* .home-menu .menu-item:hover { */
/*   /* background-color: rgba(128, 130, 158, 0.15); */
/*   color: white; */
/* } */
/* .home-menu:separator { */
/*   max-height: 5px; */
/*   height: 10px; */
/*   background-color: rgba(128, 130, 158, 0.3); */
/* } */
