/*
For more information about configuration options, please visit the Wiki
https://github.com/amnweb/yasb/wiki
*/
:root {
  --subtle: #585858;
  --bg_active: rgba(255, 255, 255, 0.15);
  --bg_hover: #1e1e1e;
  --bg: #202020;
  --blue: #88a3bc;
  --bluetooth: #0082fc;
  --black: #1e1e1e;
  --green: #39c559;
  --yellowgreen: #9acd32;
  --yellow: #ffce08;
  --red: #d7474b;
  --text: white;
  --small: 15px;
  --smaller: 11px;
}

/* this is for everything */
* {
  appearance: none;
  font-family: "JetBrainsMono NFP";
  /* font-family: "RobotoMono Nerd Font Propo"; */
  /* font-family: "Microsoft Sans Serif"; */
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: -0.4px;
  color: white;
  margin: 0px;
  border: none;
}
*:focus {
  border: none;
}
*:hover {
  cursor: pointer;
}
.yasb-bar {
  background-color: "#000000";
  border-radius: 0px;
}
.icon {
  font-family: "Symbols Nerd Font";
  color: var(--text);
  font-size: 16px;
  border-radius: 3px;
}
.widget {
  margin: 0px 0px;
  padding: 0px 6px;
}
.widget:hover {
  background-color: var(--bg_hover);
}
QPushButton {
  outline: none; /* don't show outlines on click */
}
/* Global context menu style */
.context-menu,
.context-menu .menu-checkbox {
  background-color: var(--bg);
  padding: 5px 0px;
  border: none;
  font-size: 12px;
  color: var(--text);
}
.context-menu::right-arrow {
  width: 8px;
  height: 8px;
  padding-right: 24px;
}
.context-menu::item,
.context-menu .menu-checkbox {
  background-color: transparent;
  padding: 6px 12px;
  margin: 2px 6px;
  border-radius: 6px;
  min-width: 100px;
}
.context-menu::item:selected,
.context-menu .menu-checkbox:hover {
  background-color: #3a3a3a;
  color: var(--text);
}
.context-menu::separator {
  height: 1px;
  background-color: #404040;
  margin: 4px 8px;
}
.context-menu::item:disabled {
  color: #666666;
  background-color: transparent;
}
.context-menu .menu-checkbox .checkbox {
  border: none;
  padding: 8px 16px;
  font-size: 12px;
  margin: 0;
  color: #ffffff;
}
.context-menu .submenu::item:disabled {
  margin: 0;
  padding-left: 16px;
}
.context-menu .menu-checkbox .checkbox:unchecked {
  color: #999;
}
.context-menu .menu-checkbox .checkbox::indicator {
  width: 12px;
  height: 12px;
  margin-left: 0px;
  margin-right: 8px;
}
.context-menu .menu-checkbox .checkbox::indicator:unchecked {
  background: #444444;
  border-radius: 2px;
}
.context-menu .menu-checkbox .checkbox::indicator:checked {
  background: var(--blue);
  border-radius: 2px;
}
.context-menu .menu-checkbox .checkbox:focus {
  outline: none;
}
.context-menu::item:checked {
  background: var(--blue);
  color: var(--text);
}

/* ***************** LEFT ********************** */

/* GLAZEWM WIDGET (LEFT) */
.glazewm-workspaces {
  margin-left: -5px;
}
.glazewm-workspaces:hover {
  background-color: none;
}
.glazewm-workspaces .offline-status {
  color: var(--subtle);
}
.glazewm-workspaces .ws-btn {
  font-size: 13px;
  padding: 2px 8px;
}
.glazewm-workspaces .ws-btn:hover {
  background-color: var(--bg_hover);
}
/* gray bg on active workspaces */
.glazewm-workspaces .ws-btn.active_populated,
.glazewm-workspaces .ws-btn.active_empty {
  background-color: var(--bg_active);
}
/* white on populated workspaces, subtle gray on empty ones  */
.glazewm-workspaces .ws-btn.active_empty {
  color: var(--subtle);
}
.glazewm-workspaces .ws-btn.populated {
  color: var(--text);
}
.glazewm-workspaces .ws-btn.empty,
.glazewm-workspaces .ws-btn.empty .label {
  color: var(--subtle);
}
.glazewm-workspaces .ws-btn .label {
  font-size: 12px;
}
/* used if i want to show app icons per workspace  */
/* .glazewm-workspaces .ws-btn .icon-1 { */
/*   margin-left: 6px; */
/*   font-size: 10px; */
/* } */

/************* RIGHT ***************/

/* MEMORY WIDGET */
.memory-widget:hover {
  background-color: var(--bg_hover);
}
.memory-widget {
  padding: 0px 4px;
}
.memory-widget .progress-circle {
  padding: 0px;
  font-size: 8px;
}
.memory-widget .label,
.memory-widget .label.alt {
  color: var(--subtle);
  font-size: calc(var(--small) - 2);
  margin: 1px;
}
.memory-widget .label.status-low {
  color: var(--subtle);
}
.memory-widget .label.status-medium {
  color: var(--subtle);
}
.memory-widget .label.status-high {
  color: var(--yellow);
}
.memory-widget .label.status-critical {
  color: var(--red);
}

/* TILING DIRECTION WIDGET */
.glazewm-tiling-direction .btn {
  color: var(--subtle);
  margin: 1px;
  font-size: 15px;
  font-weight: 800;
}

/* VOLUME WIDGET */
.volume-widget .icon {
  margin-left: 0px;
  margin-right: 3px;
}
/* AUDIO MENU POPUP */
.volume-slider {
  border: none;
  height: 10px;
  margin: 5px 4px;
  border-radius: 3px;
  background: transparent;
}
.volume-slider::sub-page {
  background: white;
  border-radius: 3px;
  height: 4px;
}
.volume-slider::groove {
  height: 6px;
  border-radius: 3px;
  background: var(--bg_active);
}
.audio-menu .system-volume-container .volume-slider {
  border: none;
}
.audio-menu {
  background-color: var(--bg);
  min-width: 250px;
}
.audio-container .device {
  background-color: transparent;
  border-radius: 7px;
  padding: 6px 8px 6px 4px;
  margin: 2px 0;
  color: var(--subtle);
}
.audio-container .device.selected {
  background-color: var(--bg_active);
  color: var(--text);
}
.audio-container .device:hover {
  color: var(--text);
  background-color: var(--bg_active);
}
.audio-menu .audio-container .device {
  background-color: transparent;
  border: none;
  padding: 6px 8px 6px 4px;
  margin: 2px 0;
  font-size: 12px;
  border-radius: 4px;
}
.audio-menu .audio-container .device.selected {
  background-color: rgba(255, 255, 255, 0.085);
}
.audio-menu .audio-container .device:hover {
  background-color: rgba(255, 255, 255, 0.06);
}
/* Toggle button for application volumes (if is enabled) */
.audio-menu .toggle-apps {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  min-height: 24px;
  min-width: 24px;
  border-radius: 4px;
}
.audio-menu .toggle-apps.expanded {
  background-color: rgba(255, 255, 255, 0.1);
}
.audio-menu .toggle-apps:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
/* Container for application volumes (if is enabled) */
.audio-menu .apps-container {
  padding: 8px;
  margin-top: 20px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.062);
}
.audio-menu .apps-container .app-volume .app-icon-container {
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 6px;
  margin-right: 8px;
}
.audio-menu .apps-container .app-volume .app-slider {
  min-height: 40px;
  max-height: 40px;
}
.audio-menu .apps-container .app-volume .app-icon-container:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* BLUETOOTH WIDET  */
.bluetooth-widget .icon {
  font-size: var(--small);
  color: var(--blue);
  font-weight: bold;
}
.bluetooth-widget .label,
.bluetooth-widget .label.alt {
  font-size: var(--small);
  color: var(--blue);
}

/* WIFI WIDGET */
/* HACK: a grouper surrounds this wifi widget so the hover bg works properly  */
/* .wifi-grouper */
.wifi-widget {
  color: var(--subtle);
  padding: 0px;
}
.wifi-widget .label {
  margin-left: 3px;
  color: var(--subtle);
  font-size: var(--smaller);
}
.wifi-widget .widget-container .icon {
  color: var(--subtle);
  font-size: var(--small);
}
.wifi-menu {
  max-height: 350px;
  min-height: 375px;
  min-width: 375px;
}
.wifi-menu .progress-bar {
  max-height: 2px;
}
.wifi-menu .progress-bar::chunk {
  background-color: #4cc2ff;
}
.wifi-menu .header {
  background-color: var(--bg);
  font-size: 14px;
  font-weight: 600;
  /* margin-bottom: 2px; */
  padding: 12px;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.wifi-menu .error-message {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 2px;
  padding: 12px;
  background-color: red;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.wifi-menu .wifi-list {
  margin-right: 3px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.wifi-menu .wifi-item {
  min-height: 35px;
  padding: 2px 12px;
  margin: 2px 4px;
}
.wifi-menu .wifi-item:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
}
.wifi-menu .wifi-item[active="true"] {
  background-color: rgba(255, 255, 255, 0.15);
  font-size: 14px;
  border-radius: 6px;
  min-height: 80px;
}
.wifi-menu .wifi-item .icon {
  font-family: "Segoe Fluent Icons";
  font-size: 26px;
  margin-right: 10px;
}
.wifi-menu .wifi-item .name {
  font-size: 14px;
  margin-right: 10px;
}
.wifi-menu .wifi-item .password {
  font-size: 14px;
}
.wifi-menu .wifi-item .status {
  font-size: 14px;
}
.wifi-menu .wifi-item .strength {
  font-size: 14px;
}
.wifi-menu .wifi-item .controls-container {
  padding-top: 8px;
}
.wifi-menu .wifi-item .connect {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 4px 30px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
}
.wifi-menu .wifi-item .connect:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.wifi-menu .wifi-item .connect:pressed {
  background-color: rgba(255, 255, 255, 0.3);
}
.wifi-menu .footer {
  font-size: 12px;
  font-weight: 600;
  padding: 12px;
  /* margin-top: 2px; */
  background-color: var(--bg);
}
.wifi-menu .footer .settings-button {
  border: none;
  padding: 0 2px;
  min-width: 26px;
  min-height: 26px;
  color: #fff;
}
.wifi-menu .footer .refresh-icon {
  font-family: "Segoe Fluent Icons";
  border: none;
  min-width: 26px;
  min-height: 26px;
  color: #fff;
}
.wifi-menu .footer .refresh-icon:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

/* CLOCK WIDGET */
.clock-widget .label {
  color: var(--subtle);
}
/* CALENDAR POPUP  */
.calendar .calendar-table::item:hover,
.clock-widget:hover {
  background-color: var(--bg);
  color: var(--text);
}
.calendar {
  background-color: var(--bg);
}
.calendar .calendar-table,
.calendar .calendar-table::item {
  border-radius: 3px;
  background-color: var(--bg);
  color: var(--subtle);
  margin: 0;
  padding: 0;
}
.calendar .calendar-table::item:selected {
  color: white;
}
.calendar .day-label {
  margin-top: 20px;
}
.calendar .day-label,
.calendar .month-label,
.calendar .date-label {
  color: var(--text);
  font-size: 16px;
  font-weight: 700;
  min-width: 180px;
  max-width: 180px;
  margin-bottom: 4px;
}
.calendar .month-label {
  color: var(--text);
  font-weight: normal;
}
.calendar .date-label {
  color: var(--text);
  font-size: 88px;
  font-weight: 900;
  margin-top: -20px;
}

/* BATTERY WIDGET */
.battery-widget .widget-container .icon {
  margin-right: 3px;
}
.battery-widget .widget-container .icon.status-charging {
  color: var(--green);
}
.battery-widget .widget-container .icon.status-critical {
  color: var(--red);
}
.battery-widget .widget-container .icon.status-low {
  color: var(--yellow);
}
.battery-widget .widget-container .icon.status-medium {
  color: white;
}
.battery-widget .widget-container .icon.status-high {
  color: white;
}
.battery-widget .widget-container .icon.status-full {
  color: white;
}

.tooltip {
  border: 1px solid var(--bg_active);
  background-color: var(--bg);
  color: var(--text);
  padding: 6px 12px;
  border-radius: 3px;
  font-size: 13px;
  font-family: "JetBrainsMono NFP", "Symbols Nerd Font";
  margin-top: 4px;
}

/* MEDIA WIDGET  */
.media-widget .label,
.media-widget .label.alt {
  color: var(--subtle);
  font-size: var(--smaller);
  margin-left: 3px;
}
.media-widget .btn.play {
  color: var(--subtle);
  font-family: "Segoe Fluent Icons";
  margin-bottom: 1px;
}
.media-widget .btn.prev,
.media-widget .btn.next {
  max-width: 0px; /* hide prev/next buttons */
}
.media-widget .btn:hover {
  color: var(--text);
}
.media-widget .btn.disabled,
.media-widget .btn.disabled:hover {
  color: var(--subtle);
}
/* MEDIA POPUP  */
.media-menu {
  min-width: 350px;
  max-width: 350px;
  background-color: var(--bg);
  border: 1px solid var(--bg_active);
  border-radius: 8px;
}
.media-menu .title,
.media-menu .artist,
.media-menu .source {
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
}
.media-menu .artist {
  font-size: 13px;
  color: #6c7086;
  margin-top: 0px;
}
.media-menu .source {
  font-size: 11px;
  color: #000;
  font-weight: normal;
  border-radius: 3px;
  background-color: #bac2de;
  padding: 2px 4px;
}
/* The source class name is the same as what you see in the media widget; just replace spaces with dashes and convert it to lowercase.
Example: "Windows Media" becomes "windows-media" */
.media-menu .source.firefox {
  background-color: #ff583b;
  color: #ffffff;
}
.media-menu .source.brave {
  background-color: #fb542b;
  color: #ffffff;
}
.media-menu .source.spotify {
  background-color: #199143;
  color: #ffffff;
}
.media-menu .source.edge {
  background-color: #0078d4;
  color: #ffffff;
}
.media-menu .source.windows-media {
  background-color: #0078d4;
  color: #ffffff;
}
.media-menu .btn {
  font-size: 21px;
  font-weight: 400;
  margin: 10px 2px 0px 2px;
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  border-radius: 10px;
}
.media-menu .btn.prev {
  margin-left: 10px;
}
.media-menu .btn:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
}
.media-menu .btn.play {
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 22px;
}
.media-menu .btn.disabled:hover,
.media-menu .btn.disabled {
  color: var(--subtle);
  background-color: var(--bg);
}
.media-menu .playback-time {
  font-size: 13px;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  color: #7f849c;
  margin-top: 12px;
  min-width: 100px;
}
.media-menu .progress-slider {
  height: 10px;
  margin: 5px 4px;
  border-radius: 1px;
}
.media-menu .progress-slider::groove {
  background: transparent;
  height: 6px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.1);
}
.media-menu .progress-slider::groove:hover {
  background: transparent;
  height: 8px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.2);
}
.media-menu .progress-slider::sub-page {
  background: white;
  border-radius: 3px;
  height: 6px;
}

.systray .unpinned-container {
  margin-right: 9px;
}
