/*
For more information about configuration options, please visit the Wiki
https://github.com/amnweb/yasb/wiki
*/
:root {
  --subtle: #555555;
  --bg_active: #252525;
  --bg_hover: #1e1e1e;
  --bg: #0f0f0f;
  --blue: #4cc2ff;
  --bluetooth: #0082fc;
  --black: #1e1e1e;
  --green: #39c559;
  --yellowgreen: #9acd32;
  --yellow: #ffce08;
  --red: #d7474b;
  --text: white;
  --accent: #4cc2ff;
  --smaller: 11px;
  --blur_bg: rgba(32, 32, 32, 0.6);
}

/* GLOBAL STYLES */
* {
  appearance: none;
  font-family: "SF Pro Text", "Segoe Fluent Icons";
  border-radius: 3px;
  font-size: 11px;
  letter-spacing: -0.05em;
  font-weight: 600;
  color: white;
  margin: 0px;
  border: none;
}
*:focus {
  border: none;
}
*:hover {
  cursor: pointer;
}
.yasb-bar {
  background-color: "#000000";
  border-radius: 0px;
}
.icon {
  color: var(--text);
  font-size: 16px;
  border-radius: 3px;
}
.widget {
  margin: 0px 0px;
  padding: 0px 6px;
}
.widget:hover {
  background-color: var(--bg_hover);
}
QPushButton {
  outline: none; /* don't show outlines on click */
}

/* miscellaneous */
@import url("styles/context-menu.css");
@import url("styles/tooltip.css");

/* LEFT */
@import url("styles/glazewm.css");

/* CENTER */
@import url("styles/clock.css");

/* RIGHT */
@import url("styles/quick-launch.css"); /* hidden */
@import url("styles/media.css");
@import url("styles/button-grouper.css"); /* has bluetooth, control center, systray */
@import url("styles/memory.css");
@import url("styles/wifi.css");
@import url("styles/volume.css");
@import url("styles/battery.css");
