/*
This is default and very simple styles file for Yasb.
For more information about configuration options, please visit the Wiki
https://github.com/amnweb/yasb/wiki
*/
:root {
  --subtle: #585858;
  --bg_active: rgba(255, 255, 255, 0.15);
  --bg_hover: rgba(255, 255, 255, 0.1);
  --icon: rgba(255, 255, 255, 0.9);
  --blur: rgba(31, 39, 49, 0.5);
  --blue: #84aff2;
  --black: #1e1e1e;
  --green: #39c559;
  --yellowgreen: #9acd32;
  --yellow: #ffce08;
  --red: #d7474b;
  --text: white;
}

/* this is for everything*/
* {
  font-size: 12px;
  color: white;
  font-weight: 600;
  font-family: "JetBrainsMono NFP";
  margin: 0;
  padding: 0px 4px;
}
.yasb-bar {
  padding: 0px;
}
.icon {
  color: var(--icon);
  font-size: 16px;
  font-weight: 200;
}
.apps-widget .widget-container,
.glazewm-workspaces .widget-container,
.widget-container {
}

/* GLAZEWM WIDGET (LEFT) */
.glazewm-workspaces .widget-container {
}
.glazewm-workspaces {
  margin-left: -5px;
}
.glazewm-workspaces .offline-status {
  color: var(--subtle);
}
.glazewm-workspaces .ws-btn {
  /*     󰓇*/
  /* height: 17; */
  color: var(--subtle);
  padding: 2px 7px; /* background color fills the padding */
  border-radius: 5px;
  height: 17px;
  font-weight: 600;
  font-size: 12.5px;
  margin-right: 2px;
  /* width: 20; */
}
.glazewm-workspaces .ws-btn:hover {
  background-color: var(--bg_hover);
  color: var(--icon);
}
/* this is the inactive workspaces */
.glazewm-workspaces .ws-btn.populated {
  color: var(--icon);
}
.glazewm-workspaces .ws-btn.active {
  /* font-weight: 700; */
  background-color: var(--bg_active);
  color: var(--icon);
}

/* MEDIA WIDGET (CENTER) */
.media-widget {
  /* border: 1px solid grey; */
  /* padding: 0px; */
  margin: 0px;
  padding: 0px;
}
.media-widget .label {
  color: var(--subtle);
  font-size: 10px;
  padding: 4px;
  border-radius: 5px;
}
.media-widget .btn.prev,
.media-widget .btn.next {
  color: var(--subtle);
  /* this is to make the buttons invisible */
  /* font-size: 1px; */
  /* padding: 0px; */
}
.media-widget .btn {
  color: var(--subtle);
  border-radius: 5px;
  font-size: 15px;
  font-weight: 200;
}
.media-widget .label:hover,
.media-widget .btn:hover {
  color: var(--text);
  background-color: var(--bg_hover);
}
.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
}

/* MEDIA POPUP (CENTER)*/
.media-menu {
  min-width: 420px;
  max-width: 420px;
  background-color: var(--blur);
}
.media-menu .title,
.media-menu .artist,
.media-menu .source {
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
  font-family: "Segoe UI", Tahoma, Verdana;
}
.media-menu .artist {
  font-size: 13px;
  color: var(--subtle);
  margin-top: 0px;
  margin-bottom: 8px;
}
.media-menu .source {
  font-size: 11px;
  font-weight: bold;
  font-weight: normal;
  border-radius: 5px;
  padding: 2px 4px;
  color: var(--icon);
}
/* The source class name is the same as what you see in the media widget; just replace spaces with dashes and convert it to lowercase.
Example: "Windows Media" becomes "windows-media" */
.media-menu .source.firefox {
  background-color: #ff583b;
}
.media-menu .source.spotify {
  background-color: #199143;
  color: var(--icon);
}
.media-menu .source.edge {
  background-color: #0078d4;
  color: var(--icon);
}
.media-menu .source.windows-media {
  background-color: #0078d4;
  color: var(--icon);
}
.media-menu .btn {
  font-family: "Segoe Fluent Icons";
  font-size: 14px;
  font-weight: 400;
  margin: 10px 2px 0px 2px;
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  border-radius: 10px;
}
.media-menu .btn.prev {
  margin-left: 10px;
}
.media-menu .btn:hover {
  color: white;
  background-color: var(--bg_hover);
}
.media-menu .btn.play {
  background-color: var(--bg_hover);
  font-size: 20px;
}
.media-menu .btn.disabled:hover,
.media-menu .btn.disabled {
  color: var(--subtle);
  background-color: black;
}
.media-menu .playback-time {
  font-size: 13px;
  font-family: "Segoe UI", Tahoma, Verdana;
  color: var(--subtle);
  margin-top: 20px;
  min-width: 100px;
}
.media-menu .progress-slider {
  height: 10px;
  margin: 5px 4px;
  border-radius: 3px;
}
.media-menu .progress-slider::groove {
  background: transparent;
  height: 2px;
  border-radius: 3px;
  background: var(--bg_hover);
}
.media-menu .progress-slider::groove:hover {
  background: transparent;
  height: 6px;
  border-radius: 3px;
  background: var(--bg_hover);
}
.media-menu .progress-slider::sub-page {
  background: white;
  border-radius: 3px;
  height: 4px;
}

/************* RIGHT ***************/

/* MEMORY WIDGET */
/* .memory-widget .label { */
/* color: var(--subtle); */
/* } */

/* TILING DIRECTION WIDGET */
.glazewm-tiling-direction {
  margin: -2px;
}
.glazewm-tiling-direction .btn {
  padding: 0px 5px;
  font-size: 15px;
  margin: 0px;
  font-weight: bold;
  color: var(--icon);
  border-radius: 3px;
}
.glazewm-tiling-direction .btn:hover {
  background: var(--bg_hover);
}

/* BLUETOOTH WIDET  */
.bluetooth-widget,
.bluetooth-widget .label.alt {
  border-radius: 4px;
  margin: 0px;
  margin-right: 1px;
  padding: 0px;
}
.bluetooth-widget .label.alt,
.bluetooth-widget .icon {
  color: var(--blue);
  border-radius: 3px;
  font-weight: bold;
  font-size: 15px;
}
.bluetooth-widget .label::hover,
.bluetooth-widget .icon::hover {
  background-color: var(--bg_hover);
}
.bluetooth-widget .widget-container {
  margin: 0px;
  color: var(--subtle);
}
.bluetooth-widget .label {
  border-radius: 3px;
  margin: 0px;
  color: var(--subtle);
  font-size: 10px;
}

/* SYSTRAY WIDGET */
.systray {
  background: transparent;
  padding: 0px;
  margin: 0px;
}
.systray .button {
  margin: 0px;
  background: transparent;
  padding: 3px;
  border-radius: 3px;
}

.systray .unpinned-container:hover,
.systray .pinned-container:hover {
  /* background: var(--bg_hover); */
}

.systray .unpinned-container,
.systray .pinned-container {
  margin: 0px;
  padding: 0px;
  background: transparent;
}
.systray .pinned-container[forceshow="true"] {
  background-color: blue;
}
.systray .button:hover {
  background: var(--bg_hover);
}
.systray .button[dragging="true"] {
  background-color: blue;
}
/* COLLAPSE/UNCOLLAPSE BUTTON */
.systray .unpinned-visibility-btn {
  backgroud-color: transparent;
  color: var(--subtle);
  /* border-radius: 5px; */
}
.systray .unpinned-visibility-btn:checked {
}
.systray .unpinned-visibility-btn:hover,
.systray .pinned-visibility-btn:hover {
  background: var(--bg_hover);
}

/* POMODORO WIDGET */
.pomodoro-widget {
  border-radius: 5px;
  margin: 0px 4px;
  background: transparent;
  padding: 0px;
}
.pomodoro-widget:hover {
  background: var(--bg_hover);
  /* color: var(--icon); */
}
.pomodoro-widget:pressed {
  background-color: transparent;
  appearance: none;
}
.pomodoro-widget .icon {
  font-size: 13px;
  padding-right: -3px;
  padding-top: -1px;
}
.pomodoro-widget .label.paused {
  color: var(--red);
}
/* .pomodoro-widget .icon.work, */
/* .pomodoro-widget .icon.break, */
.pomodoro-widget .icon.paused {
  margin-top: 2px;
}
.pomodoro-widget .label.work {
  color: var(--yellowgreen);
}
.pomodoro-widget .label.break,
.pomodoro-widget .icon.break {
  color: var(--yellow);
}
/* Pomodoro menu styling */
.pomodoro-menu {
  background-color: var(--blur);
  border-radius: 8px;
}
.pomodoro-menu .header {
  font-size: 16px;
  font-weight: 600;
  max-height: 0px;
  color: var(--icon);
}
.pomodoro-menu .status {
  font-size: 18px;
  font-weight: 600;
  color: var(--blue);
}
.pomodoro-menu .session {
  font-size: 12px;
  color: var(--blue);
}
.pomodoro-menu .button {
  background-color: var(--bg_active);
  color: var(--blue);
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
}
.pomodoro-menu .button.start,
.pomodoro-menu .button.start:hover {
  background-color: var(--yellowgreen);
  color: var(--black);
}
.pomodoro-menu .button.reset {
  background-color: var(--bg_active);
}
.pomodoro-menu .button:hover {
  background-color: var(--bg_hover);
  color: var(--blue);
}
.pomodoro-menu .button.pause {
  background-color: var(--red);
  color: var(--black);
}
.pomodoro-menu .button.start:pressed,
.pomodoro-menu .button:pressed {
  background-color: var(--bg_hover);
  color: var(--black);
}

/* WIFI WIDGET */
.wifi-widget:hover {
  border-radius: 5px;
  padding: 2px;
  background-color: var(--bg_hover);
  color: var(--icon);
}
.wifi-widget .widget-container:hover {
}
.wifi-widget .widget-container .label {
  margin: -4px;
  color: var(--icon);
}
.wifi-widget .widget-container .label.alt {
}
.wifi-widget .widget-container .icon {
}

/* VOLUME WIDGET */
.volume-widget:hover {
  border-radius: 5px;
  padding: 2px;
  background-color: var(--bg_hover);
  color: var(--icon);
}
.volume-widget .icon {
  color: white;
  font-size: 13px;
  /* padding-top: 0px; */
  padding-right: 0px;
}
/* AUDIO MENU POPUP */
.volume-slider {
  border: none;
  height: 10px;
  margin: 5px 4px;
  border-radius: 3px;
  background: transparent;
}
.volume-slider::sub-page {
  background: white;
  border-radius: 3px;
  height: 4px;
}

.volume-slider::groove {
  background: transparent;
  height: 6px;
  border-radius: 3px;
  background: var(--bg_hover);
  cursor: pointer; /* Make it clear it's interactive */
}
.volume-slider::groove:hover {
  background: transparent;
  border-radius: 3px;
  background: var(--bg_hover);
}
.volume-slider::handle {
}
.audio-menu {
  background-color: var(--blur);
}
.audio-container .device {
  background-color: transparent;
  border: none;
  padding: 6px 8px 6px 4px;
  margin: 2px 0;
  font-size: 12px;
  border-radius: 4px;
}
.audio-container .device.selected {
  background-color: var(--subtle);
}
.audio-container .device:hover {
  background-color: var(--bg_hover);
}
/* DEVICE BUTTONS */
.audio-container .device {
  border: none;
  padding: 6px 8px 6px 4px;
  margin: 2px 0;
  font-size: 12px;
  border-radius: 4px;
}
.audio-container .device.selected {
  background-color: var(--bg_active);
}
.audio-container .device:hover {
  background-color: var(--bg_hover);
}

/* BATTERY WIDGET */

.battery-widget .widget-container:hover {
  border-radius: 5px;
  padding: 2px;
  background-color: var(--bg_hover);
  color: var(--icon);
}
.battery-widget .widget-container .icon {
  font-size: 13px;
  padding-right: 0px;
}
.battery-widget .widget-container .icon.status-critical {
  color: var(--red);
}
.battery-widget .widget-container .icon.status-low {
  color: var(--yellow);
}
.battery-widget .widget-container .icon.status-medium {
  color: white;
}
.battery-widget .widget-container .icon.status-high {
  color: white;
}
.battery-widget .widget-container .icon.status-full {
  color: white;
}
.battery-widget .widget-container .icon.status-charging {
  color: var(--yellow);
  font-size: 12px;
}

/* CLOCK WIDGET */
.clock-widget {
  padding-left: 0px;
  padding-right: -5px;
}

.clock-widget:hover {
  border-radius: 5px;
  background-color: var(--bg_hover);
  color: var(--icon);
}
